@charset "UTF-8";
body {
  width: 100%;
  font-family: '微軟正黑體';
}

.fullpage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagesetting {
  width: 960px;
  margin: 60px 0;
}

.blackbg {
  background-color: #000000;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.blackbg .title {
  font-size: 16px;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blackbg .title a {
  display: inline-block;
  padding: 20px 55px;
  border-bottom: 3px solid black;
  text-decoration: none;
  color: white;
}

.blackbg .title a:hover {
  border-bottom: 3px solid #e7211b;
}

.advantage {
  text-align: center;
}

.advantage .fiveitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage .fiveitems a {
  width: 170px;
  font-size: 20px;
  border: 1px dotted gray;
  border-bottom: 3px solid #a00b0b;
  padding: 5px;
  margin: 40px 0;
  color: black;
  text-decoration: none;
}

.advantage .fiveitems a:hover {
  background-color: #a00b0b;
  color: white;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.five span {
  font-size: 40px;
  color: #333333;
  font-weight: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.five span::after {
  content: '';
  width: 55px;
  height: 5px;
  background-color: black;
  margin-top: 15px;
}

.publicsetting {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: white;
  height: 830px;
}

.publicsetting .title {
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.publicsetting .redbgc {
  width: 100%;
  height: 150px;
  background-color: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publicsetting .redbgc .col {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 130px;
  line-height: 0.85;
}

.publicsetting .redbgc .row {
  font-size: 55px;
  margin: auto;
}

.publicsetting .blackbgc {
  width: 100%;
  background-color: black;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  z-index: 1;
}

.publicsetting .blackbgc p {
  font-size: 21px;
}

.publicsetting .textbox {
  width: 680px;
  background-color: #b8af8d;
  padding: 20px;
  font-size: 17px;
  z-index: 1;
}

.publicsetting .textbox p {
  margin: 5px;
}

.publicsetting .textbox .redtitle {
  color: brown;
  font-weight: 900;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publicsetting .textbox .redtitle::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3px;
  background-color: brown;
  margin-left: 10px;
}

.publicsetting .textbox .blacktitle {
  background-color: black;
  padding: 5px;
  display: inline-block;
}

.publicsetting .bagimg {
  position: absolute;
  top: 150px;
  right: 100px;
}

.publicsetting .arrow {
  width: 54px;
  position: relative;
  -webkit-transform: translate(815px, -110px);
          transform: translate(815px, -110px);
}

.publicsetting .grey {
  width: 430px;
  height: 300px;
  position: absolute;
  background-color: #f0f0f0;
  z-index: -2;
  right: 0;
  top: 50px;
}

.control {
  height: 830px;
}

.control .textbox {
  margin-left: 80px;
}

.movetoright {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 735px;
}

.movetoright .bagimg {
  left: 100px;
}

.movetoright .arrow {
  -webkit-transform: translate(-815px, -100px);
          transform: translate(-815px, -100px);
}

.movetoright .grey {
  margin-right: 120px;
  height: 400px;
}

.proud {
  height: 750px;
}
/*# sourceMappingURL=TOYOTA scss style.css.map */